*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.refcache
/.venv/
/.vscode/
/.idea/
/node_modules/
/versioned/
Gemfile.lock
package-lock.json
report.xml
!requirements.txt
!draft-perry-dtn-cpb.html
!draft-perry-dtn-cpb.txt

# Python cache
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
